@model GCTL.Core.ViewModels.AccGeneralLedgers.AccGeneralLedgerSetupViewModel

<div style="padding-top: 10px;">
    <div class="row">
        <div class="col-lg-6">
            <span id="message"></span>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
    <div class="form-group row">
        <input type="hidden" id="lastCode" />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Ldate" />
        <input type="hidden" asp-for="ModifyDate" />
        <div class="col-lg-6">
            <label >GRL Code</label>
            <div class="input-group input-group-sm">
                <input id="txtGRLCode" class="form-control form-control-sm" readonly="readonly" />
            </div>
        </div>
        <div class="col-lg-6">
            <label>GRL Name</label>
            <span class="text-danger">*</span>
            <select asp-for="ControlLedgerCodeNo" class="form-control form-control-sm ControlLedgerCodeNo selectpicker"
                    asp-items="@ViewBag.CL as SelectList"
                    data-placeholderX="Select GRL Name">
                <option value="">Select GRL Name</option>
            </select>
            <span asp-validation-for="ControlLedgerCodeNo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-6">
            <label>CL Code</label>
            <div class="input-group input-group-sm">
                <input id="txtClCode" class="form-control form-control-sm" readonly="readonly" />
            </div>
        </div>
        <div class="col-lg-6">
            <label>CL Name</label>
            <span class="text-danger">*</span>
            <select asp-for="SubControlLedgerCodeNo" class="form-control form-control-sm SubControlLedgerCodeNo selectpicker"
                    asp-items="@ViewBag.SCL as SelectList"
                    data-placeholderX="Select CL Name">
                <option value="">Select CL Name</option>
            </select>
            <span asp-validation-for="SubControlLedgerCodeNo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6">
            <label>SCL Code</label>
            <div class="input-group input-group-sm">
                <input asp-for="GeneralLedgerCodeNo" class="form-control form-control-sm js-generalLedger-code" readonly="readonly" />
            </div>
            <span asp-validation-for="GeneralLedgerCodeNo" class="text-danger" />
        </div>
        <div class="col-lg-6">
            <label >SCL Name</label>
            <span class="text-danger">*</span>
            <input asp-for="GeneralLedgerName" class="form-control form-control-sm js-generalLedger" placeholder="Enter SCL Name" />
            <span asp-validation-for="GeneralLedgerName" class="text-danger" />
        </div>
        
    </div>
    <div class="form-group row">
        <div class="col-lg-6">
            <label asp-for="ShortName">Short Name</label>
            <input asp-for="ShortName" class="form-control form-control-sm" placeholder="Enter Short Name" />
        </div>
      </div> 



    @if (Model.Id > 0)
    {
        <hr />
        <div class="form-group row">
            <div class="col-lg-6">
                @if (Model.Ldate.HasValue)
                {
                    <label>Creation Date: </label>
                    <label>@Model.Ldate.Value.ToString(ApplicationConstants.DateFormat)</label>
                }
            </div>
            <div class="col-lg-6">
                @if (Model.ModifyDate.HasValue)
                {
                    <label>Last Update Date: </label>
                    <label>@Model.ModifyDate.Value.ToString(ApplicationConstants.DateFormat)</label>
                }
            </div>
        </div>
    }
</div>
<div class="row no-print" style="margin-top: 9px;">
    <div class="col-12">
        <button type="button" class="btn btn-default success-btn btn-common btn-circle float-right js-generalLedger-save" data-id="@Model.GeneralLedgerCodeNo">
            <i class="fas fa-save"></i> Save
        </button>
    </div>
</div>